//imports
@use '../mixins/breakpoint.scss' as mix;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

// Manrope
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

// Work Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #1A1A1A;
}

//Variables
$base-color: #12ab9e;
$second-color: white;

.title {
    text-align: center;
    margin-top: 2.5em;

    @include mix.respond(lg) {
        margin-top: 3em;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        color: $second-color;
        font-weight: 700;

        // Escala de tamaño de fuente
        font-size: 2.5em;

        @include mix.respond(sm) {
            font-size: 3em;
        }

        @include mix.respond(md) {
            font-size: 3.5em;
        }

        @include mix.respond(xxl) {
            font-size: 3.5em;
        }
    }
}