//imports
@use '../mixins/breakpoint.scss' as mix;

//Variables
$base-color: #003809;
$second-color: white;

.secondWrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mix.respond(sm) {
        display: flex;
    }
    
    .sponsors {
        background-color: rgb(255, 255, 255);
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        backdrop-filter: blur(6px);
        
        // @include mix.respond(sm) {
        //     max-height: 800px; // Reducción de altura
        //     width: auto;
        // }

        // @include mix.respond(md) {
        //     width: 80%;
        //     max-width: 750px;
        //     min-height: 300px; // Altura significativamente reducida
        // }

        @include mix.respond(lg) {
            height: 900px; // Altura significativamente reducida
        }

        @include mix.respond(xl) {
            height: 900px; // Altura significativamente reducida
        }

        @include mix.respond(xxl) {
            height: 900px; // Altura significativamente reducida
        }
    }

    .sponsor {
        flex: 1 1 clamp(6rem, 10vw, 10rem);
        width: 6.5rem;
        height: auto;
        object-fit: contain;
        filter: grayscale(30%);
        transition: filter 0.3s ease, transform 0.3s ease;

        @include mix.respond(xs) {
            max-height: 200px; // Reducción de altura
        }
        @include mix.respond(sm) {
            width: 8rem;
        }
        @include mix.respond(lg) {
            width: 9.5rem;
        }
        @include mix.respond(xl) {
            width:10rem;
        }

        &:hover {
            filter: none;
            transform: scale(1.05);
        }
    }

   

   
}