@use 'sass:map';

$breakpoints: (
    xs: 430px,
    sm: 540px,
    md: 900px,
    xl: 1220px
);

@mixin respond($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "El valor '#{$breakpoint}' no ha sido declarado en el mapa";
    }
}
